<?xml version="1.0"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>

    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/faces-config.xml</param-value>
    </context-param>

    <listener>
        <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>ajax</servlet-name>
        <servlet-class>gov.nih.nci.evs.browser.servlet.AjaxServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
         <servlet-name>ajax</servlet-name>
         <url-pattern>/ajax</url-pattern>
    </servlet-mapping>
    
    
     <servlet>
        <servlet-name>redirect</servlet-name>
        <servlet-class>gov.nih.nci.evs.browser.servlet.RedirectServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
         <servlet-name>redirect</servlet-name>
         <url-pattern>/redirect</url-pattern>
    </servlet-mapping>   

    <!-- Faces Servlet -->

    <servlet>
        <servlet-name>FacesServlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>




	<servlet>
	<servlet-name>AudioCaptcha</servlet-name>
	<servlet-class>nl.captcha.servlet.AudioCaptchaServlet</servlet-class>
	<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
	<servlet-name>NCIAudioCaptcha</servlet-name>
	<servlet-class>gov.nih.nci.evs.browser.servlet.NCIAudioCaptchaServlet</servlet-class>
	<load-on-startup>1</load-on-startup>
	</servlet>
	
	
	<servlet>
	<servlet-name>SimpleCaptcha</servlet-name>
	<servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
		<init-param>
		    <param-name>captcha-width</param-name>
		    <param-value>240</param-value>
		</init-param>
		<init-param>
		    <param-name>captcha-height</param-name>
		    <param-value>60</param-value>
		</init-param>
	</servlet>

	<servlet>
	<servlet-name>NCISimpleCaptcha</servlet-name>
	<servlet-class>gov.nih.nci.evs.browser.servlet.NCISimpleCaptchaServlet</servlet-class>
		<init-param>
		    <param-name>captcha-width</param-name>
		    <param-value>240</param-value>
		</init-param>
		<init-param>
		    <param-name>captcha-height</param-name>
		    <param-value>60</param-value>
		</init-param>
	</servlet>
	
	<servlet>
	<servlet-name>StickyCaptcha</servlet-name>
	<servlet-class>nl.captcha.servlet.StickyCaptchaServlet</servlet-class>
		<init-param>
		    <!-- Optional; defaults to 200. -->
		    <param-name>captcha-width</param-name>
		    <param-value>250</param-value>
		</init-param>
		<init-param>
		    <!-- Optional; defaults to 50. -->
		    <param-name>captcha-height</param-name>
		    <param-value>75</param-value>
		</init-param>
		<init-param>
		    <!-- Time To Live, in ms. Optional; Defaults to 600000ms. -->
		    <param-name>ttl</param-name>
		    <param-value>100000</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>AudioCaptcha</servlet-name>
		<url-pattern>/audio.wav</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>NCIAudioCaptcha</servlet-name>
		<url-pattern>/nci.audio.wav</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>SimpleCaptcha</servlet-name>
		<url-pattern>/simpleCaptcha.png</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>NCISimpleCaptcha</servlet-name>
		<url-pattern>/nci.simpleCaptcha.png</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>StickyCaptcha</servlet-name>
		<url-pattern>/stickyCaptcha.png</url-pattern>
	</servlet-mapping>
	
    <!-- Faces Servlet Mapping -->

    <servlet-mapping>
        <servlet-name>FacesServlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>

	<!--  Log4j init servlet -->

	<servlet>
	   <servlet-name>Log4JServlet</servlet-name>
	   <servlet-class>gov.nih.nci.evs.browser.servlet.Log4JServlet</servlet-class>
	   <load-on-startup>1</load-on-startup>
	</servlet>

</web-app>
