<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "./log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <param name="Threshold" value="@log.level@" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" />
        </layout>
    </appender>

    <appender name="SEARCHLOG" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM"/>
        <param name="File" value="@search.log.dir@/ncim-search.log"/>
        <param name="Threshold" value="FATAL" />
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%d{MM-dd-yyyy HH:mm:ss}|%m%n" />
        </layout>
    </appender>

    <category name="com.mchange.v2.c3p0">
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />
    </category>

    <category name="gov.nih.nci.evs.searchlog" additivity="false">
        <priority value="SEARCH" class="gov.nih.nci.evs.searchlog.SearchLevel" />
        <appender-ref ref="SEARCHLOG" />
    </category>

    <logger name="org.hibernate">
        <level value="WARN" />
    </logger>

    <logger name="org.apache">
        <level value="WARN" />
    </logger>

    <logger name="org.springframework">
        <level value="ERROR" />
    </logger>

    <!-- EVS Logger -->
    <logger name="@log.package@">
        <level value="@log.level@" />
    </logger>

    <root>
        <priority value="ERROR" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="SEARCHLOG" />
    </root>

</log4j:configuration>