#searchmod {position:relative;}
#searchautocomplete {position:relative;width:15em;margin-bottom:1em;}/* set width of widget here*/
#searchautocomplete {z-index:9000} /* for IE z-index of absolute divs inside relative divs issue */
#searchinput {width:100%;height:1.4em;z-index:0;}
#searchcontainer {position:absolute;top:1.7em;width:100%}
#searchcontainer .yui-ac-content {position:absolute;width:100%;border:1px solid #404040;background:#fff;overflow:hidden;z-index:9050;}
#searchcontainer .yui-ac-shadow {position:absolute;margin:.3em;width:100%;background:#a0a0a0;z-index:9049;}
#searchcontainer ul {padding:5px 0;width:100%;}
#searchcontainer li {padding:0 5px;cursor:default;white-space:nowrap;}
#searchcontainer li.yui-ac-highlight {background:#bad2bb;}
#searchcontainer li.yui-ac-prehighlight {background:#bad2bb;}
