<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#A90101">
   <tr bgcolor="#A90101">
      <td width="211" height="24" align="left">
        <a href="http://www.cancer.gov" target="_blank">
          <img src="<%= request.getContextPath() %>/images/logotype.gif"
            width="283" height="37" border="0" alt="National Cancer Institute">
        </a>
      </td>
      <td>&nbsp;</td>
      <td width="307" height="24" align="right">
        <a href="http://www.cancer.gov" target="_blank">
          <img src="<%= request.getContextPath() %>/images/tagline_nologo.gif"
            width="307" height="24" border="0" alt="National Cancer Institute" >
        </a>
      </td>
   </tr>
</table>
