<%
  String version = new DataUtils().getVocabularyVersionByTag(
    "NCI Thesaurus", "PRODUCTION");
  if (version == null)
    version = new DataUtils().getVocabularyVersionByTag(
      "NCI Thesaurus", null);
  if (version == null)
    version = "";
%>

<div id="message" class="textbody">
  <table border="0" width="100%"><tr>
    <td><div class="texttitle-blue">Welcome</div></td>
    <td><div class="texttitle-blue-rightJust">Version: <%= version %></div></td>
  </tr></table>
  <hr/>
  <table border="0">
    <tr>
      <td class="textbody">
        NCI Thesaurus (NCIt) provides reference terminology for many NCI and
        other systems. It covers vocabulary for clinical care, translational
        and basic research, and public information and administrative activities.
        <br><br>
        <b>NCIt features:</b>
        <ul>
          <li>Stable, unique codes for biomedical concepts;
          <li>Preferred terms, synonyms, definitions, research codes,
            external source codes, and other information;
          <li>Links to
            <a href="http://ncimeta.nci.nih.gov/MetaServlet/">NCI Metathesaurus</a>
            and other information sources;
          <li>Over 200,000 cross-links between concepts, providing formal
            logic-based definition of many concepts;
          <li>Extensive content integrated from NCI and other partners, much
            available as separate NCIt
            <a href="<%=terminology_subset_download_URL%>">subsets</a>;
          <li>Updated frequently by a team of subject matter experts.
        </ul>
        NCIt is a widely recognized standard for biomedical coding and reference,
        used by a broad variety of public and private partners both nationally
        and internationally.
      </td>
      <td valign="top">
        <table border="0">
          <tr valign="top">
            <td width="10px"></td>
            <td>
              <a href="http://evs.nci.nih.gov/">
                <img src="<%=basePath%>/images/EVSTile.gif"
                  width="77" height="38px" alt="EVS" border="0"/>
              </a>
            </td>
            <td width="3px"></td>
            <td class="textbody" valign="top">
              <a href="http://evs.nci.nih.gov/">
                NCI Enterprise Vocabulary Services</a>:
              Terminology resources and services for NCI and the biomedical community.
            </td>
          </tr>
          <tr valign="top">
            <td width="10px"></td>
            <td>
              <a href="http://ncimeta.nci.nih.gov/MetaServlet/">
                <img src="<%=basePath%>/images/NCImTile.gif"
                  width="77" height="38px" alt="NCIm" border="0"/>
              </a>
            </td>
            <td width="3px"></td>
            <td class="textbody" valign="top">
              <a href="http://ncimeta.nci.nih.gov/MetaServlet/">
                NCI Metathesaurus</a>:
              Comprehensive database of 3,000,000 terms from 70 terminologies.
            </td>
          </tr>
          <tr valign="top">
            <td width="10px"></td>
            <td>
              <a href="http://bioportal.nci.nih.gov/ncbo/faces/index.xhtml">
                <img src="<%=basePath%>/images/EVSBioPortalTile.gif"
                  width="77" height="38px" alt="Bio Portal" border="0"/>
              </a>
            </td>
            <td width="3px"></td>
            <td class="textbody" valign="top">
              <a href="http://bioportal.nci.nih.gov/ncbo/faces/index.xhtml">
                NCI BioPortal</a>:
              View NCI and other terminologies in an integrated ontology environment.
            </td>
          </tr>
          <tr valign="top">
            <td width="10px"></td>
            <td>
              <a href="http://www.cancer.gov/cancertopics/terminologyresources/">
                <img src="<%=basePath%>/images/Cancer_govTile.gif"
                  alt="Cancer.gov" border="0"/>
              </a>
            </td>
            <td width="3px"></td>
            <td class="textbody" valign="top">
              <a href="http://www.cancer.gov/cancertopics/terminologyresources/">
                NCI Terminology Resources</a>:
              More information on NCI dictionaries and resources.
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>